@import "tailwindcss";

@layer components {
  @media (max-width: 767px) {
    .auth-card:has([data-auth-welcome]) {
      background-image: url("/images/auth-container-background.png");
      background-size: cover;
      background-position: center;
    }
  }
}

:root {
  --color-text: #1c1c1e;
  --color-error: #ff0000;
  --color-button-disabled: #e4e4e4;
  --color-overlay: rgba(149, 135, 245, 0.4);

  --color-violet: #7769e1;
  --color-violet-light: #cec8ff;
  --color-violet-dark: #615aa3;
  --color-gray: #747474;
  --color-gray-light: #f5f6f8;
  --color-gray-dark: #c5c5c5;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-weight: 400;
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}
